
.gold-theme {
    #experience-carousel {
      background:  url(../../resources/images/day-camp-theme/shapes/splash-bottom-gold.png) center / cover no-repeat, 
      linear-gradient(180deg, #FFC340 0%, #F5A800 100%);
    }
  }

  .teal-theme {
  #experience-carousel {
    background:  url(../../resources/images/day-camp-theme/shapes/splash-bottom-teal.png) center / cover no-repeat,
    linear-gradient(180deg, #1FD3FA 0%, #0FC1E8 100%);
    }
  }
  
  .green-theme {
      #experience-carousel {
      background:  url(../../resources/images/day-camp-theme/shapes/grey-background.png) center / cover no-repeat,
    }
  }

  .rounded-container {
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.10);
  }
 
  .stick {
    opacity: 0;
  }

  .grey_border_opacity, .border_opacity {
    border: 2px solid transparent;
  }


.presentation:hover {
    transition: transform 0.7s ease;
    .bordered-icon {
      transform: scale(1.5) translateY(-10px);
       transition: transform 0.7s ease;
    } 
    .ball
    {
      background-color: $brown!important;
    }
    .txt {
      color: $brown!important;
    }

}

  .nav-tabs .nav-link.active {
     transition: transform 0.7s ease;
    .stick {
      opacity: 1;
    }
    .bordered-icon {
      transform: scale(1.5) translateY(-10px);
      border: 2px solid $white;
   } 

    .border_opacity {
      border: 2px solid $white;
    }

    .grey_border_opacity {
      border: 2px solid $grey600;
    }
  }

//Bootstrap classes overriding
.nav-tabs, .nav-tabs .nav-link {
  border: none;
}
.nav-tabs .nav-link.active {
  background-color: transparent;
}
